*.a
*.o
.deps
Makefile
Makefile.in
*.log
*.trs
*.tmp
*.dtx
*.ins
*.aux
*.aux.bbl
*.aux.blg
*.bbl
*.bcf
*.blg
*.dvi
*.out
*.run.xml
*.synctex.gz
/tex/svg-inkscape/
/stats/
*.nav
*.snm
*.toc
*checkpoints*
core
/a3c_log*
/csv*
/logging
/old_data
/compute-0-?.local

/.vscode

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/alfalfa-*.tar.gz
/stamp-h1
/test-driver
/tmp

/protobufs/*.pb.cc
/protobufs/*.pb.h
/protobufs/*_pb2.py
/src/configuration
/src/configuration-unicorn
/src/inspect-config
/src/sender-runner
/src/sender-logger
/src/inspect-simulationsdata
/src/remy
/src/remy-unicorn
/src/remy-poisson
/graph/ratatouille
/src/scoring-example
/src/tmp

test.py
